In [4]:
print('Hello World')

Hello World

In [8]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10,5))
df.head()

          0         1         2         3         4
0  0.383515  0.332534 -0.285563 -0.143430 -0.727109
1  1.004891  0.875094 -1.755094  0.022576  1.688915
2 -1.150487 -1.062787 -1.199694 -0.766861 -0.898749
3 -0.423291  0.499928  0.514894  0.733082 -0.405355
4 -0.725453 -1.265234 -0.428128  1.177075 -0.067049